* {
  padding: 10;
  margin: 10;
}

body {
  background: lightblue;
}

img {
  float: right;
  width: 200px;
  height: 130px;
  padding: 10px;
  margin-left:15px;
}

.group {
  float:left;
  padding: 10px;
  height: 200px;
  width: 400px;
}

p {
  padding: 10px;
}

.cos {
  display: table;
}
